@{
    ViewBag.Title = "Details";
}

<div class="viewport">
    
    <table class="questions">
        <tr>
            <h1>About You</h1>
            <div>
                <label for="first-name">First Name</label>
                <input type="text" name="first-name" id="first-name"/>
            </div>
    
            <div>
                <label for="last-name">Last Name</label>
                <input type="text" name="last-name" id="last-name"/>
            </div>
        
            <div>
                <label for="date-of-birth">Date of Birth</label>
                <input type="date" name="date-of-birth" id="date-of-birth"/>

            </div>
            
            <div>
                <button>I'm happy to continue</button>
            </div>
        </tr>
        <tr>
            <h1>About You</h1>
            <div>
                <label for="first-name">First Name</label>
                <input type="text" name="first-name" id="first-name"/>
            </div>
    
            <div>
                <label for="last-name">Last Name</label>
                <input type="text" name="last-name" id="last-name"/>
            </div>
        
            <div>
                <label for="date-of-birth">Date of Birth</label>
                <input type="date" name="date-of-birth" id="date-of-birth"/>

            </div>
            
            <div>
                <button>I'm happy to continue</button>
            </div>
        </tr>
        <tr>
            <h1>About You</h1>
            <div>
                <label for="first-name">First Name</label>
                <input type="text" name="first-name" id="first-name"/>
            </div>
    
            <div>
                <label for="last-name">Last Name</label>
                <input type="text" name="last-name" id="last-name"/>
            </div>
        
            <div>
                <label for="date-of-birth">Date of Birth</label>
                <input type="date" name="date-of-birth" id="date-of-birth"/>

            </div>
            
            <div>
                <button>I'm happy to continue</button>
            </div>
        </tr>
    

    </table>


</div>